Flow 4.json
[{"id":"f2499c2d.37f5e","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"b79b9aa2.611568","type":"http in","z":"f2499c2d.37f5e","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["9a3a71bb.918b1"]]},{"id":"2ad3919a.7031be","type":"rpi-gpio in","z":"f2499c2d.37f5e","name":"","pin":"7","intype":"up","debounce":"25","read":true,"x":90,"y":180,"wires":[["cafcf8ad.d44a08"]]},{"id":"9a3a71bb.918b1","type":"function","z":"f2499c2d.37f5e","name":"get","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":60,"wires":[["4ded8415.210a8c","51e05f50.357ed"]]},{"id":"cafcf8ad.d44a08","type":"function","z":"f2499c2d.37f5e","name":"set","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["51e05f50.357ed"]]},{"id":"4ded8415.210a8c","type":"http response","z":"f2499c2d.37f5e","name":"","statusCode":"","headers":{},"x":420,"y":60,"wires":[]},{"id":"51e05f50.357ed","type":"debug","z":"f2499c2d.37f5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":200,"wires":[]}]