Flow 5.json
[{"id":"67385ac0.5622e4","type":"tab","label":"流程4","disabled":false,"info":""},{"id":"6b7a2e47.bc829","type":"http in","z":"67385ac0.5622e4","name":"","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":220,"y":300,"wires":[["e87712a6.40d6a","e6fb0285.77e07"]]},{"id":"e87712a6.40d6a","type":"function","z":"67385ac0.5622e4","name":"1","func":"msg.payload =1;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":460,"wires":[["f12f90bb.8ed2d"]]},{"id":"f12f90bb.8ed2d","type":"rpi-gpio out","z":"67385ac0.5622e4","name":"","pin":"29","set":true,"level":"1","freq":"","out":"out","x":740,"y":500,"wires":[]},{"id":"e6fb0285.77e07","type":"function","z":"67385ac0.5622e4","name":"return","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":380,"wires":[["6d4337e3.2d78e8","5836037.91b24fc"]]},{"id":"6d4337e3.2d78e8","type":"debug","z":"67385ac0.5622e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":620,"wires":[]},{"id":"ce33a0.290ddc6","type":"http in","z":"67385ac0.5622e4","name":"","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":230,"y":640,"wires":[["3c5eb47.a71a74c","f498dda0.9222d"]]},{"id":"3c5eb47.a71a74c","type":"function","z":"67385ac0.5622e4","name":"0","func":"msg.payload =0;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":580,"wires":[["f12f90bb.8ed2d"]]},{"id":"f498dda0.9222d","type":"function","z":"67385ac0.5622e4","name":"return","func":"msg.payload=\"GPIO set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":660,"wires":[["6d4337e3.2d78e8","5836037.91b24fc"]]},{"id":"5836037.91b24fc","type":"http response","z":"67385ac0.5622e4","name":"","statusCode":"","headers":{},"x":800,"y":340,"wires":[]}]